.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40vh;
}

.forgot-password-container h5 {
    margin-bottom: 20px;
}

.forgot-password-container form {
    width: 100%;
    max-width: 400px; /* Limita el ancho del formulario */
}

.forgot-password-container .btn {
    width: auto; /* Los botones no ocupan todo el ancho */
    padding: 10px 20px; /* Espaciado interno para los botones */
}

.forgot-password-container .alert {
    max-width: 400px;
    width: 100%; /* Ajusta los mensajes de alerta para que sigan el ancho del formulario */
}
